/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: white;
    --main-background-color: #f1e0b5;
    --main-transition: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
width:15px;
}

::-webkit-scrollbar-track {
background-color:white;
}

::-webkit-scrollbar-thumb{
background-color: black;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

body {
    background-color: var(--main-background-color);
}

/* End Global Rules */

/* start header  */
.header {
    background-color: black;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}

.header .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav li {}

.header .main-nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    padding: 0 20px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
    color: var(--main-color);
}

@media (max-width: 767px) {
    .header .main-nav li a {
        padding: 10px;
        padding-bottom: 20px;
        font-size: 14px;
        height: 40px;
    }
}

/* end header  */

/* start landing  */
.landing {
    position: relative;
}


.landing .image img {
    max-width: 90%;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .text {
        text-align: center;
    }
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .text p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #777;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}

.landing .image img {
    position: relative;
    width: 600px;
    /* animation: up-and-down 5s linear infinite; */
}

@media (max-width: 991px) {
    .landing .image {
        display: none;
    }
}

.landing .go-down {
    color: #777;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .go-down:hover {
    color: var(--main-color-alt);
}

/* end landing  */

/* Start Gallery */
.gallery {
    padding-top: 100px;
    padding-bottom: 110px;
    position: relative;
    background-color: black;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: var(--main-background-color);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.423);
    /* background-color: rgb(255 255 255 / 20%); */
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .box .image:hover::before {
    animation: flashing 0.5s;
}

.gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box video {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

.gallery .box .image:hover video {
    transform: rotate(-20deg) scale(1.9);
}

/* End Gallery */

/* Start Skills */
.our-skills {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    background-color: var(--main-background-color);
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .our-skills img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-skills .skill h3 span {
    font-size: 12px;
    border: 1px solid black;
    padding: 3px 5px;
    border-radius: 4px;
    color: black;
}

.our-skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
    border-radius: 4px;
}

.our-skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: black;
    transition: width 0.5s linear;
    border-radius: 4px;
}
/* Start Discount */
.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .discount .image {
    background-image: url(../img/pixrate.jpeg);
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 10s linear infinite;
  }
  .discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 20, 22, 0.97);
    z-index: -1;
  }
  @media (max-width: 991px) {
    .discount .image {
      flex-basis: 100%;
    }
  }
  .discount .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-bottom: 50px;
  }
  @media (max-width: 991px) {
    .discount .form {
      flex-basis: 100%;
    }
  }
  .discount .form .input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: black;
  }
  .discount .form textarea.input {
    resize: none;
    height: 200px;
  }
  .discount .form .input:focus {
    outline: none;
  }
  .discount .form [type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color:black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
  }
  .discount .form [type="submit"]:hover {
    background-color: white;
    color: black;
  }
  .discount .content {
    text-align: center;
    padding: 0 20px;
  }
  .discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
  }
  .discount .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
  }
  .discount .content img {
    width: 300px;
    max-width: 100%;
  }
  /* End Discount */

/* End Skills */

@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {
    0%,
    100% {
      background-image: url("../img/1\ \(6\).jpeg");
    }
    50% {
      background-image: url("../img/pixrate.jpeg");
    }
  }